/* Eleven.css */

.quote-container {
    background-color: #71bbd1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .quote-text {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  