
nav {
    background-color: #030303;
    color: white;
    padding: 10px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  li {
    display: inline;
    margin: 0 15px;
  }
  

  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  nav a.active {
    font-weight: bold;
  }
  